/* navigation */
#navbar {
  flex-direction: column;
}

/* home */
#home {
  height: 312px;
  padding: 3px 68px;
}
#home::before {
  height: 480px;
}
#home p {
  font-size: 1rem;
}

/* client */
#clients {
  overflow: hidden;
}
/* Services section */
#services {
  flex-direction: column;
}

/* Utilities classes */
.h-primary {
  font-size: 26px;
}

.btn {
  font-size: 13px;
  padding: 4px 8px;
}

#clients img {
  width: 179px;
  padding: 6px;
}
