/* CSS RESET */
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

/* Navigation bar */
#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}

/* Logo And Image */
#logo {
  margin: 20px 34px;
}
#logo img {
  height: 59px;
  margin: 3px 6px;
  border-radius: 50%;
}
/* Navigation Bar List Styling */
/* #navbar {
  position: relative;
} */
#navbar ul {
  display: flex;
}

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 83px;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}
#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
  font-family: "Baloo Bhaijaan 2", cursive;
}

#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}
#navbar ul li a:hover {
  color: black;
  background-color: white;
}

/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  height: 530px;
  padding: 3px 200px;
  justify-content: center;
  align-items: center;
}

#home::before {
  content: "";
  position: absolute;
  background: url("pancakes.jpg") no-repeat center center/cover;
  height: 642px;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.89;
}

#home h1 {
  color: white;
  text-align: center;
  font-family: "Baloo Bhaijaan 2", cursive;
}
#home p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
#services {
  margin: 34px;
  display: flex;
}
#services .box {
  border: 2px solid brown;
  margin: 3px 6px;
  border-radius: 28px;
  background-color: rgb(247, 234, 234);
}

#services .box img {
  height: 169px;
  margin: auto;
  display: block;
}
/* contact us */
#contact {
  position: relative;
}
#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 458px;
  z-index: -1;
  opacity: 0.7;
  background: url("contactBack.jpg");
}
#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
}
#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
}
#contact-box form {
  width: 28%;
}

#contact-box label {
  font-size: 1rem;
}
#buttonRotate {
  border-radius: 10px solid red;
}
.btn_2 {
  display: block;
  padding: 6px 20px;
  border: 2px solid #efe9e9;
  background-color: #857b7b;
  color: black;
  margin: auto;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

footer {
  background: black;
  color: white;
  padding: 12px 9px;
  cursor: pointer;
}

/* Clients Sections */
/* #client-section {
   height: 273px; 
}  */
#client-section::before {
  content: "";
  position: absolute;
  background: url("logoBackground.jpg");
  width: 100%;
  height: 273px;
  z-index: -1;
  opacity: 0.4;
}
#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-item {
  padding: 35px;
}
#clients img {
  height: 190px;
}

/* Utilities classess */
.h-primary {
  font-size: 2.5rem;
  padding: 12px;
}
.h-secondary {
  font-size: 1.5rem;
  padding: 12px;
}
.center {
  text-align: center;
}

.btn {
  padding: 6px 20px;
  border: 2px solid white;
  background-color: rgb(102, 49, 49);
  color: white;
  margin: 18px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}
